<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>SEVENZEN</title>
    <link rel="icon" href="/sevenzen.ico" sizes="any" type="image/svg+xml">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="/mystyles.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.umd.js"
        integrity="sha512-ZwR1/gSZM3ai6vCdI+LVF1zSq/5HznD3ZSTk7kajkaj4D292NLuduDCO1c/NT8Id+jE58KYLKT7hXnbtryGmMg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <%- include('header'); %>
        <% if (chartempty==true ) { %>
            <div class="alert alert-danger" role="alert">You have not logged any emotion data. Come back after logging
                to see your chart.</div>
            <% } else { %>
                <main class="container">
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseOne" aria-expanded="false"
                                    aria-controls="flush-collapseOne">
                                    Average Emotion Intensity
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <canvas id="avgcanvas" height="200" aria-label="Chart showing average emotion intensity over time.                             Enjoyment: <%= chartinput.avg_enjoyment %>,
                                        Sadness: <%= chartinput.avg_sadness %>,
                                        Anger: <%= chartinput.avg_anger %>,
                                        Contempt: <%= chartinput.avg_contempt %>,
                                        Disgust: <%= chartinput.avg_disgust %>,
                                        Fear: <%= chartinput.avg_fear %>,
                                        Surprise: <%= chartinput.avg_surprise %>" role="img"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                    aria-controls="flush-collapseTwo">
                                    Emotions Based on Triggers
                                </button>
                            </h2>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <canvas id="triggercanvas" height="200" aria-label="Chart showing average emotion intensity based on triggers.                         
                                    <% for (var i = 0; i < charttriggers.length; i++) { %>
                                            trigger: '<%= charttriggers[i].emotrigger_name %>',
                                            enjoyment: <%= charttriggers[i].avg_enjoyment %>,
                                            sadness: <%= charttriggers[i].avg_sadness %>,
                                            anger: <%= charttriggers[i].avg_anger %>,
                                            contempt: <%= charttriggers[i].avg_contempt %>,
                                            disgust: <%= charttriggers[i].avg_disgust %>,
                                            fear: <%= charttriggers[i].avg_fear %>,
                                            surprise: <%= charttriggers[i].avg_surprise %>
                                    <% } %>                             Enjoyment: <%= chartinput.avg_enjoyment %>,"
                                        role="img"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseThree" aria-expanded="false"
                                    aria-controls="flush-collapseThree">
                                    Emotions Over Time
                                </button>
                            </h2>
                            <div id="flush-collapseThree" class="accordion-collapse collapse"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <canvas id="timecanvas" height="200" aria-label="Chart showing emotions over time.
                                    <% for (var i = 0; i < charttime.length; i++) { %>
                                        <% var ukTime = new Date(charttime[i].time_stamp).toLocaleString('en-GB', { timeZone: 'Europe/London' }); %>
                                                date: '<%= ukTime%>',
                                                enjoyment: <%= charttime[i].enjoyment %>,
                                                sadness: <%= charttime[i].sadness %>,
                                                anger: <%= charttime[i].anger %>,
                                                contempt: <%= charttime[i].contempt %>,
                                                disgust: <%= charttime[i].disgust %>,
                                                fear: <%= charttime[i].fear %>,
                                                surprise: <%= charttime[i].surprise %>
                                    <% } %>" role="img"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                <% } %>

                    <script>
                        //convert data from ejs to js for averages graph
                        var data = {
                            Enjoyment: <%= chartinput.avg_enjoyment %>,
                            Sadness: <%= chartinput.avg_sadness %>,
                            Anger: <%= chartinput.avg_anger %>,
                            Contempt: <%= chartinput.avg_contempt %>,
                            Disgust: <%= chartinput.avg_disgust %>,
                            Fear: <%= chartinput.avg_fear %>,
                            Surprise: <%= chartinput.avg_surprise %>
                        };

                        //convert data for triggers graph
                        var triggerdata = [];
                        <% for (var i = 0; i < charttriggers.length; i++) { %>
                            triggerdata.push({
                                trigger: '<%= charttriggers[i].emotrigger_name %>',
                                enjoyment: <%= charttriggers[i].avg_enjoyment %>,
                                sadness: <%= charttriggers[i].avg_sadness %>,
                                anger: <%= charttriggers[i].avg_anger %>,
                                contempt: <%= charttriggers[i].avg_contempt %>,
                                disgust: <%= charttriggers[i].avg_disgust %>,
                                fear: <%= charttriggers[i].avg_fear %>,
                                surprise: <%= charttriggers[i].avg_surprise %>
                            });
                        <% } %>

                        //convert data for time graph
                        var timeData = [];
                        <% for (var i = 0; i < charttime.length; i++) { %>
                            <% var ukTime = new Date(charttime[i].time_stamp).toLocaleString('en-GB', { timeZone: 'Europe/London' }); %>
                                timeData.push({
                                    date: '<%= ukTime%>',
                                    enjoyment: <%= charttime[i].enjoyment %>,
                                    sadness: <%= charttime[i].sadness %>,
                                    anger: <%= charttime[i].anger %>,
                                    contempt: <%= charttime[i].contempt %>,
                                    disgust: <%= charttime[i].disgust %>,
                                    fear: <%= charttime[i].fear %>,
                                    surprise: <%= charttime[i].surprise %>
                            });
                        <% } %>

                            //Troubleshooting
                            console.log('inside script tags');
                        console.log(data);
                        console.log(triggerdata);
                        console.log(timeData);

                        //create averages chart
                        new Chart(document.getElementById('avgcanvas'), {
                            type: 'bar',
                            data: {
                                labels: ['Enjoyment', 'Sadness', 'Anger', 'Contempt', 'Disgust', 'Fear', 'Surprise'],
                                datasets: [
                                    {
                                        label: false,
                                        data: data,
                                        backgroundColor: [
                                            'rgb(71, 30, 105)',
                                            'SteelBlue',
                                            'Teal',
                                            'PaleVioletRed',
                                            'PowderBlue',
                                            'LightSkyBlue',
                                            'LightBlue'

                                        ],
                                    }
                                ]
                            },
                            options: {
                                y: {
                                    beginAtZero: true,
                                    max: 10
                                },
                                plugins: {
                                    legend: {
                                        display: false
                                    },
                                }

                            }
                        })

                        //create triggers chart
                        new Chart(document.getElementById('triggercanvas'), {
                            type: 'bar',
                            data: {
                                labels: triggerdata.map(function (d) {
                                    return d.trigger;
                                }),
                                datasets: [
                                    {
                                        label: 'Enjoyment',
                                        data: triggerdata.map(function (d) {
                                            return d.enjoyment;
                                        }),
                                        backgroundColor: [
                                            'rgb(71, 30, 105)'
                                        ],
                                    },
                                    {
                                        label: 'Sadness',
                                        data: triggerdata.map(function (d) {
                                            return d.sadness;
                                        }),
                                        backgroundColor: [
                                            'SteelBlue'
                                        ],
                                    },
                                    {
                                        label: 'Anger',
                                        data: triggerdata.map(function (d) {
                                            return d.anger;
                                        }),
                                        backgroundColor: [
                                            'Teal'
                                        ],
                                    },
                                    {
                                        label: 'Contempt',
                                        data: triggerdata.map(function (d) {
                                            return d.contempt;
                                        }),
                                        backgroundColor: [
                                            'PaleVioletRed'
                                        ],
                                    },
                                    {
                                        label: 'Disgust',
                                        data: triggerdata.map(function (d) {
                                            return d.disgust;
                                        }),
                                        backgroundColor: [
                                            'PowderBlue'
                                        ],
                                    },
                                    {
                                        label: 'Fear',
                                        data: triggerdata.map(function (d) {
                                            return d.fear;
                                        }),
                                        backgroundColor: [
                                            'LightSkyBlue'
                                        ],
                                    },
                                    {
                                        label: 'Surprise',
                                        data: triggerdata.map(function (d) {
                                            return d.surprise;
                                        }),
                                        backgroundColor: [
                                            'LightBlue'
                                        ],
                                    }
                                ]
                            }
                        })

                        //create time chart
                        new Chart(document.getElementById('timecanvas'), {
                            type: 'line',
                            data: {
                                labels: timeData.map(function (d) {
                                    return d.date;
                                }),
                                datasets: [
                                    {
                                        label: 'Enjoyment',
                                        data: timeData.map(function (d) {
                                            return d.enjoyment;
                                        }),
                                        borderColor: 'rgb(71, 30, 105)',
                                        fill: false
                                    },
                                    {
                                        label: 'Sadness',
                                        data: timeData.map(function (d) {
                                            return d.sadness;
                                        }),
                                        borderColor: 'SteelBlue',
                                        fill: false
                                    },
                                    {
                                        label: 'Anger',
                                        data: timeData.map(function (d) {
                                            return d.anger;
                                        }),
                                        borderColor: 'Teal',
                                        fill: false
                                    },
                                    {
                                        label: 'Contempt',
                                        data: timeData.map(function (d) {
                                            return d.contempt;
                                        }),
                                        borderColor: 'PaleVioletRed',
                                        fill: false
                                    },
                                    {
                                        label: 'Disgust',
                                        data: timeData.map(function (d) {
                                            return d.disgust;
                                        }),
                                        borderColor: 'PowderBlue',
                                        fill: false
                                    },
                                    {
                                        label: 'Fear',
                                        data: timeData.map(function (d) {
                                            return d.fear;
                                        }),
                                        borderColor: 'LightSkyBlue',
                                        fill: false
                                    },
                                    {
                                        label: 'Surprise',
                                        data: timeData.map(function (d) {
                                            return d.surprise;
                                        }),
                                        borderColor: 'LightBlue',
                                        fill: false
                                    }
                                ]
                            }
                        })
                    </script>
</body>

</html>